.cart__wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 'blockProducts blockProducts blockPrice';
}

.cart__products_block {
  grid-area: blockProducts;
  background-color: var(--grey_light);
  border-radius: 10px;
}

.cart__price_block {
  grid-area: blockPrice;
}